body{
    font-family:"Pacifico", cursive;
    position:relative;
    background-color: black;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    color:red;
    text-shadow:0 0 3px red;
    margin:0;
}
section{
    position:relative;
    padding:10px
}
.container{
    box-shadow:0 0 10px white,
    inset 0 0 10px white;
    padding-left:20px;
    padding-right:20px;
    border:1px solid white;
    background-color:rgb(0, 0, 0,0.1);
    overflow:hidden;
    z-index:1;
    width:35%;
    height:90%;
    border-radius:20px;
    backdrop-filter:blur(1.5px);
    display:grid;
    grid-template-rows:repeat(5,1fr);
    grid-template-columns:repeat(1,1fr);
}
form>section>label{
    font-family:"Pacifico", cursive;
    color:rgb(255, 0, 0);
    text-align:left;
    text-shadow:0 0 3px red;
    font-size:0.7em;
    margin:0;
}
h2{
    grid-row:1;
    margin-bottom:10px;
    z-index:1;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:50%;
    align-self:start;
    text-align:center;
    position:relative;
    color:rgb(255, 0, 0);
    text-shadow:2px -2px 10px red;
}
h2::after{
    content:'';
    z-index:0;
    position:absolute;
    bottom:-20%;
    border-radius:20px;
    width:40%;
    height:5px;
    background:linear-gradient(90deg, transparent 0, red 40%,transparent 90%);
    animation:loading 3s infinite ease-in-out;
}
#Other_Options{
    width:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
fieldset{
    border-radius:20px;
    box-shadow:0 0 10px red,
    inset 0 0 10px red;
    height:60%;
    border:1px solid red;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
fieldset>legend{
    border-radius:20px;
    backdrop-filter:blur(20px);
    color:white;
    text-shadow:0 0 10px white;
    font-size:0.8em;
}
#sec1{
    grid-row:2;
}
#sec2{
    grid-row:3;
}
#sec3{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    grid-row:4;
}
#sec4{
    grid-row:5;
}
#username,#password{
    position:relative;
    padding-left:10px;
    margin:0;
    width:100%;
    height:70%;
    justify-self:center;
    border:none;
    outline:none;
    background-color: rgb(41, 40, 40);
    border-radius: 20px;
    box-shadow:inset -2px -2px 3px 0px black,
    inset 2px 2px 3px rgb(80, 80, 80);
    color:white;
    text-shadow:0 0 1px white,
    0 0 2px white;
}
#submit, #reset{
    position:relative;
    font-family:"Pacifico", cursive;
    width:46%;
    height:70%;
    border:none;
    grid-row:5;
    grid-column:1;
}
#submit{
    margin:0;
    padding:0;
    background-color: rgb(181, 3, 3);
    border-radius:20px;
    box-shadow:inset -2px -2px 3px rgb(100, 1, 1),
    inset 2px 2px 3px red;
    color:white;
    text-shadow:0px 0px 10px white,
    0 0 20px white;
}
#reset{
    margin:0;
    padding:0;
    border-radius:20px;
    background-color:rgb(0, 0, 0,0);
    border:1px solid red;
    box-shadow:0 0 10px red,
    0 0 20px red,
    inset 0 0 10px red,
    inset 0 0 20px red;
    color:red;
    text-shadow:0 0 10px red,
    0 0 20px red;
}
#reset:hover{
    box-shadow:0 0 10px red,
    0 0 30px red,
    inset 0 0 10px red,
    inset 0 0 25px red;
}
hr{
    color:white;
    background-color:white;
    box-shadow:0 0 10px white;
    padding-bottom:1px;
    border:none;
    outline:none;
}
#submit:hover{
    box-shadow:inset 2px 2px 4px rgb(100, 1, 1),
    inset -2px -2px 4px red;
}
.depth{
    position:fixed;
    width:1%;
    height:100%;
    background-color:rgb(252, 46, 46);
    border-radius:20px;
    animation: glow 5s infinite ease-in-out;
}
.depth:nth-of-type(even) {
    width:0.09%;
}
.depth:nth-of-type(odd) {
    width:0.1%;
}
#share{
    font-family:"Pacifico", cursive;
    position:absolute;
    bottom:10px;
    right:10px;
    display:flex;
    justify-content:center;
    border:4px solid red;
    box-shadow:0 0 10px red,
    0 0 20px red,
    inset 0 0 10px red,
    inset 0 0 20px red;
    width:150px;
    height:60px;
    border-radius:100px;
    transition:all 1s ease;
    z-index:1;
    backdrop-filter:blur(10px);
}
#Share::after{
    color:black;
    font-weight:bolder;
    position:absolute;
    content:'SHARE';
    display:flex;
    justify-content:center;
    align-items:center;
    align-self:center;
    background-color:red;
    box-shadow:0 0 10px red;
    width:100%;
    height:100%;
    border-radius:100px;
    transition:all 1s ease;
    font-size:1em;
    z-index:2;
}
#Share_symbol{
    position:absolute;
    color:black;
    z-index:2;
    display:flex;
    justify-content:center;
    align-items:center;
    align-self:center;
    background-color:red;
    box-shadow:0 0 10px red;
    width:100%;
    height:100%;
    border-radius:100px;
    transition:all 1s ease;
    font-size:2em;
}
#Share:hover{
    align-items:flex-start;
    &::after{
        transform:translateY(-50%) scale(0.5);
        font-size:1.5em;
        align-self:flex-start;
    }
    #Share_symbol{
        transform:translateY(-50%) scale(0.5);
        font-size:1.8em;
        align-self:flex-start;
        z-index:3;
    }
}
#symbols{
    align-self:center;
}
#sym{
    font-size:1.2em;
    cursor:pointer;
    color:red;
    text-shadow:0 0 2px red,
    0 0 4px red;
}
#symb {
    color:white;
    text-shadow:0 0 10px white; 
}
@keyframes glow{
    0%{
        opacity:0.5;
        box-shadow:0 0 10px 1px red;
    }
    50%{
        opacity:1;
        box-shadow:0 0 15px 2px red;
    }
    100%{
        opacity:0.5;
        box-shadow:0 0 10px 1px red;
    }
}
@keyframes loading {
    from{
        left:-40%;
    }
    to{
        left:100%;
    }
}
@media (min-width:0px) and (max-width:320px){
    .container{
        width:80%;
        height:90%;
        backdrop-filter:blur(2px);
        border-radius:50px;
    }
    #share{
        bottom:-20%;
    }
}
@media (min-width:320.1px) and (max-width:376px){
    .container{
        width:70%;
        height:85%;
        border-radius:50px;
    }
    #share{
        bottom:-20%;
    }
}
@media (min-width:376px) and (max-width:426px){
    .container{
        width:60%;
        height:85%;
        border-radius:50px;
    }
    #share{
        bottom:-20%;
    }
}
@media (min-width:426.1px) and (max-width:769px){
    .container{
        width:55%;
        height:90%;
        font-size:1.2em;
        border-radius:70px;
        border-width:2px;
    }
    #username, #password,#submit{
        border-radius:10px;
        box-shadow:inset -4px -4px 6px 0px black,
        inset 4px 4px 6px rgb(80, 80, 80);
    }
    #submit{
        box-shadow:inset -8px -8px 12px rgb(100, 1, 1),
        inset 4px 4px 12px red;
    }
    #share{
        bottom:-20%;
    }
}
@media (min-width:769.1px) and (max-width:1025px){
    .container{
        width:25%;
        height:80%;
        font-size:1em;
        border-radius:50px;
    }
    #submit,#reset{
        margin-top:10px;
        height:50%;
        font-size:0.7em;
    }
}
@media (min-width:1025.1px) and (max-width:1440px){
    .container{
        width:40%;
        height:80%;
        font-size:1.9em;
        border-radius:100px;
        border-width:5px;
    }
    #submit,#reset{
        font-size:0.7em;
    }
    h1::after{
        height:10%;
    }
    #username, #password,#submit{
        border-radius:50px;
        box-shadow:inset -8px -8px 12px 0px black,
        inset 8px 8px 12px rgb(80, 80, 80);
    }
    #reset{
        border-radius:50px;
    }
    #submit{
        box-shadow:inset -8px -8px 12px rgb(100, 1, 1),
        inset 4px 4px 12px red;
    }
    input{
        padding-left:60px;
        font-size:1em;
    }
}
@media (min-width:1440.1px) and (max-width:1691px){
    .container{
        width:40%;
        height:80%;
        font-size:2em;
        border-radius:100px;
    }
    #submit,#reset{
        font-size:0.7em;
    }
    h1::after{
        height:10%;
    }
    #username, #password,#submit,#reset{
        border-radius:30px;
    }
}
@media (min-width:1691px) and (max-width:2221px){
    .container{
        width:40%;
        height:80%;
        font-size:2.1em;
        border-radius:100px;
        border-width:10px;
    }
    #submit,#reset{
        font-size:1.2em;
    }
    h1::after{
        height:10%;
    }
    #username, #password,#submit,#reset{
        border-radius:50px;
    }
}
@media (min-width:2221px) and (max-width:2561px){
    .container{
        width:40%;
        height:60%;
        font-size:3em;
        border-radius:100px;
        border-width:2px;
    }
    #submit,#reset{
        margin-top:30px;
        border-radius:80px;
        font-size:1.2em;
    }
    form>section>label{
        font-size:1em;
    }
    h1::after{
        height:10%;
    }
    fieldset{
        border-radius:60px;
        font-size:1.3em;
    }
    #username, #password{
        border-radius:80px;
        box-shadow:inset -10px -10px 12px 0px black,
        inset 10px 10px 12px rgb(80, 80, 80);
    }
    #submit{
        box-shadow:inset -10px -10px 12px rgb(100, 1, 1),
        inset 10px 10px 12px red;
    }
    #share{
        width:300px;
        height:150px;
        font-size:1.8em;
    }
}
@media (min-width:2561px) and (max-width:3000px){
    .container{
        width:40%;
        height:70%;
        font-size:2.9em;
        border-radius:100px;
    }
    #submit,#reset{
        font-size:1.2em;
    }
    h1::after{
        height:10%;
    }
    #username, #password,#submit,#reset{
        border-radius:50px;
    }
}
input[type="checkbox"] {
    width:12px;
    height:12px;
    accent-color: red;
    border-radius:200px;
    cursor: pointer;
    border-radius:20px;
}